{% extends "bootstrap/base.html" %}

{% block title %}My First Flask Project{% endblock %}

{% block navbar %}
	<div class="navbar navbar-default">
		<div>
			<ul class="nav navbar-nav">
				<li><a class="active" href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-search"></span> Search</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<span class="glyphicon glyphicon-road"></span> Roadmap
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Service Provider</a></li>
						<li><a href="#">Datacenter</a></li>
						<li><a href="#">DevOps</a></li>
						<li><a href="#">Cloud</a></li>
						<li><a href="#">Development</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="nav navbar-nav navbar-right">
			<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

		</div>
	</div>
	
{% endblock %}

{% block content %}
	<div class="container">
		{% block page_content %}{% endblock %}
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	{{ moment.include_moment() }}
{% endblock %}
