{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block page_content %}
	<style class="column" type="text/css">
		.logoP1 { color: #ff0000; }
		.logoP2 { color: #00ff00; }
		.logoP3 { color: #0000ff; }
	</style>
	<div class="page-header">
		<div>
			<h1 style="font-family:verdana;"><b>
			<span class="column">Take the</span>
			<span class="logoP1">First</span><span class="logoP2">Step</span><span class="logoP3">In</span>
			<span class="column">&lt;technology&gt;!</span>
			</h1></b>
		</div>
		<p>Here is where you can find a roadmap.</p>
	</div>
	<p> {{ myDate }} </p>
	<p>The local date and time is {{ moment(current_time).format('MMMM DD YYYY') }}.</p>
{% endblock %}
